.admin-panel-layout {
    width: 100%;

    &__header {
        margin-bottom: 20px;
    }

    @media screen and (max-width: 415px) {
        .admin-panel-layout__content__widget {
            padding: 20px 5px;
        }
    }
}
