@import '../scss/vars';

.header {
    margin-bottom: 30px;
    text-align: left;

    &__title {
        margin: 15px 0 14px;
        font-size: 3rem;
        color: $black;
        font-weight: 600;
    }

    &__description {
        font-size: 1.6rem;
        color: $black;
        opacity: 0.8;
        font-weight: 200;
    }
}
