@import "../scss/vars";

.application {
    font-family: 'Inter', sans-serif;

    .main-layout {
        width: 100%;
        max-width: none;
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        &-header {
            border-radius: 0;
            display: flex;
            align-items: center;

            &__login-links {

            }

            &__languages {

            }
        }

        &--content {
            position: relative;
            flex: 1;
            display: flex;
        }

        &-footer {
            height: 40px;

            &--powered {
                padding-top: 9px;
            }
        }
    }

    .main-home-page {
        .widget {
            background-color: $white;
        }
    }

    .ticket-list__number {
        text-align: center;
    }

    .signup-widget {
        background-color: $very-light-grey;
    }

    .dashboard {
        width: 100%;

        .widget {
            background-color: transparent;
        }

        &__menu {
            padding: 0;
            background-color: $very-light-grey;
            height: 100%;
            max-width: 300px;
            position: relative;

            .menu__list {
                background-color: transparent;
                height: 100%;
                position: relative;
            }

            .menu__header {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                background: transparent;
                color: $black;
                font-size: 2rem;
                font-weight: 600;
                padding: 10px 25px;
            }
        }
    }

    &__widget {
        background-color: $very-light-grey;
    }

    @media screen and (max-width: 467px) {

        .input {
            width: 250px;
        }
    }

    &.application_mandatory-login {

        .main-layout {
            background-color: white;
            min-height: 100vh;
        }

        .main-home-page {

            &__login-widget {
                position: relative;
                height: 100%;
            }

            &__portal-wrapper {
                padding-left: 15px;
                padding-right: 15px;
            }

            @media screen and (max-width: 992px) {
                .main-home-page {

                    &__login-widget,
                    &__portal-wrapper {
                        float: none;
                        width: initial;
                        margin-left: 0;
                        position: static;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 379px) {
        .main-home-page {

            .widget {
                width: 100%;
            }
        }
    }

    &_user-system {
        @media screen and (max-width: 379px) {

            .main-home-page {

                .widget {
                    width: 100%;
                }
            }
        }
    }
}
