@import "../../scss/vars";

.main-layout-footer {
    background-color: $primary-blue;
    text-align: center;
    min-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 25px;

    &__powered,
    &__extra-links {
        padding-right: 20px;
        color: white;
        display: inline-block;
    }

    &__extra-link,
    &__os-link {
        color: $secondary-blue;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: none;
            color: $white;
        }
    }

    &__os-link {
        color: $secondary-red;
    }

    &_admin-panel {
        .main-layout-footer__powered {
            float: left;
            padding-left: 20px;
        }
    }

    @media screen and (max-width: 415px) {
        &_admin-panel {
            .main-layout-footer {
                &__powered,
                &__extra-link {
                    float: unset;
                    padding: 5px;
                }
            }
        }
    }
}
